
<html>
    <style>
        #style1{text-align: center;
        color:blue;
        font-size: 20px;}

        .button {
        background-color: #b0b5b0;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        }
    </style>
    <h1></h1>
    <h1>Largest and smallest</h1>
    <body id="style1">
     <a href="/">Home</a> 
     <form action="/q1" method="post">
        Enter number for smallest Population <input type="text" name="small">
        Enter number for largest Population <input type="text" name="large">

        count:<input type="text" name="count">

     
        <br><br>
        <button class="button" type=""submit">Submit</button>
     </form>
    </body>
</html>