
<html>
    <style>
        #style1{text-align: center;
        color:blue;
        font-size: 20px;}

        .button {
        background-color: #b0b5b0;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        }
    </style>
    <h1></h1>

    <body id="style1">
     <a href="/">Home</a> 
     <form action="/q3" method="POST">
        Enter state name<input type="text" name="nc">
        <br><br>
        Enter population range<br><br>
        Min population<input type="text" name="mag1"><br><br>
        Max population<input type="text" name="mag2"><br><br>
        Enter increment value<input type="text" name="value">
        <button class="button" type="submit">Submit</button>
     </form>
    </body>
</html>