
<html>
    <style>
        #style1{text-align: center;
        color:blue;
        font-size: 20px;}

        .button {
        background-color: #b0b5b0;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        }
    </style>
    <h1></h1>

    <body id="style1">
     <a href="/">Home</a> 
     <form action="/q4" method="POST">
        Enter state<input type="text" name="state">
        Enter city<input type="text" name="city">
        Enter population<input type="text" name="pop">
        Enter lat<input type="text" name="lat">
        Enter lon<input type="text" name="lon">
        <br><br>
    
        <button class="button" type="submit">Submit</button>
     </form>
    </body>
</html>