
<html>
    <style>
        #style1{text-align: center;
        color:blue;
        font-size: 20px;}

        .button {
        background-color: #b0b5b0;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        }
    </style>
    <h1></h1>

    <body id="style1">
     <a href="/">Home</a> 
     <h1>delete operation</h1>
     <form action="/q5" method="POST">
        Enter state<input type="text" name="state">
        Enter city<input type="text" name="city">
       
        <br><br>
    
        <button class="button" type="submit">Submit</button>
     </form>
    </body>
</html>